*{
    font-family: 'Nanum Gothic', sans-serif;
    /* border-style: solid; 
    border-color: blue; 
    border-width: 0.5px; */
    margin: 0;
}
.html{
    width: 100%;
}

.destop, .mobile{
    background-color: rgb(245, 94, 30);
}

a{
    text-decoration: none;
    color: black;
}

/* a:hover {
    color: aliceblue;
} */

.destop_right_bar, .mobile_icon {
    list-style: none;
    height: 32px;
}

.destop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 24px 0px 24px;
}

.destop_left_bar , .destop_right_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.h-64{
    height: 64px;
}

.w-100{
    width: 100%;
}

.w-60{
    width: 60%;
}

.w-40{
    width: 40%;
}

.mb-24{
    margin-bottom: 24px;
}
.w-35{
    width: 35%;
}

.w-65{
    width: 65%;
}

.h-a{
    height: auto;
}

.p-16{
    padding: 16px;
}

.p-16-24{
    padding: 16px 16px 24px 16px;
}

.pt-pb-8{
    padding-top: 8px;
    padding-bottom:8px ;
}

.destop_right_bar{
    column-gap: 16px;
}

.mobile{
    display: flex;
    flex-direction: row;
}

.mobile_icon{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.hero,.information_destop, ._right_card{
    display: flex;
    flex-direction: row;
}

.hero_image, .information_left{
    padding: 32px 24px 32px 24px;
}

.hero_text{
    align-self: center;
    
}

/* .hero_text button{
    padding-top: 8px;
    padding-bottom:8px ;
} */

.img_left_image{
    padding-bottom: 32px;
}

.information_right{
    flex-direction: column;
}

._right_card{
    align-items: center;
}

/* ._card_text p{
    padding-top: 8px;
    padding-bottom:8px ;
} */

.information_mobile_text{
    padding: 16px 16px  64px 16px ;
    /* บ ซ ล ข */
}

.information_mobile_text, ._mobile_text{
    padding-bottom: 16px;
}

.course_head{
    text-align: center;
    padding: 32px 0px  32px 0px ;
}

.course_learning{
    list-style: none;
    padding: 0px 72px  32px 72px ;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    gap: 32px;
    justify-content: center;

    
}

.course_card{
    width: 30%;
}
















/* จอมากกว่า 769px =แสดงผลบนจอคอมพิวเตอร์ */
@media screen and (min-width: 769px) {
    .mobile{
        display: none;
    }
    .mobile_icon{
        display: none;
    }

    .information_mobile{
        display: none;
    }
} 


/* จอต่ำกว่า 768px =แสดงผลบนจอเทปเล็ด มือถือ */
@media screen and (max-width:768px){
    .destop , .information_destop{
        display: none;
    }
    .mobile_icon{
        padding: 0px;
    }

    .hero_image, .hero_text{
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .hero{
        flex-direction: column;
        align-items: center;

    }

    .hero_text{
           /* บ ซ ล ข */
        margin: 32px 16px 32px 16px;

    }
    .h_text1{
        margin-bottom: 32px;
        padding-left: 16px;

    } 
    .h_text2{
        margin-bottom: 24px;
        padding-left: 16px;
    } 
    .h_text3{
        padding-left: 16px;
    }
    

}

